@import 'reset.css';
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #888484;
    color: #fff;
    font-size: 50px;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.container h2 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
}

.container ul {
    list-style-type: none;
    padding: 0;
}

.container ul li {
    margin-bottom: 10px;
}

.container ul li strong {
    font-weight: bold;
}
.container input {
    margin-bottom: 10px;
    border-radius: 5px;
}
.about {
    margin-top: 10px;
}
.submit {
    text-align: center;
    background-color: #888484;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 60px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.submit:hover {
    background-color: #666262;
}

.result {
    background-color: #e3e0e0;
    color: rgb(104, 104, 110);
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
    word-wrap: break-word;
}
.error {
    color: red;
}
